/* p {
  background: rgb(63, 10, 223);
}

.card > p {
  color: hsla(225, 78%, 70%, 0.71);
}
.card > p {
  -webkit-text-fill-color: red;
} */
.card {
color: red;
}

.card > p {
  color: green;
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 2px blue;
}

/* p:focus,
p:active,
p:hover {
  -webkit-text-fill-color: red;
  -webkit-text-stroke: 2px blue;
  direction: rtl;
} */
/* #test {
  color: : initial;
  -webkit-text-fill-color: initial;
  -webkit-text-stroke: initial;
} */

/* #test {
  color: : inherit;
  -webkit-text-fill-color: inherit;
  -webkit-text-stroke: inherit;

  writing-mode: vertical-Lr;
} */

#test {
  color: unset;
  -webkit-text-fill-color: unset;
  -webkit-text-stroke: unset;

  
  text-align: center;
  letter-spacing: 0.1em; 
  /* (% или px или em) */
}
#tests {
  color: unset;
  -webkit-text-fill-color: unset;
  -webkit-text-stroke: unset;

  
  text-align: justify;
  
}
span {
  text-align: center;
  text-transform: uppercase;
  text-decoration: underline wavy red;
  text-decoration-color: blue;
  
}

span:hover {
	text-decoration-line: line-through;
	text-decoration-style: double;
}
pre {
	tab-size: 3;
	letter-spacing: normal;
}
/* * {
	font-family: fantasy;
} */


* {
	font-family: 'Roboto', Arial sans-serif;
	font-size: 18px;
	font-weight: 500;
	font-style: italic;

	font-display: swap;
}

span {
	font-size: larger;

	font-weight: lighter;
	font-style: oblique;
}
.test {
	font-weight: lighter;
}
.test {
	display: none;
}
/* .block {
	display: inline-block;
	background: gray;
	margin-right: 10px;
	width: 250px;
} */
.block {
	display: block;
	background: rgb(248, 243, 243);
	margin: auto;
	width: fit-content;
	min-width: 100px;
	max-width: fit-content;
	height: min-content;
	min-height: 100px;
	max-height: min-content;
	padding: 15px;
	/* применяется редко для доп обводок внутри бокса */
	box-sizing: content-box;
}
