@keyframes fly {
	from {
		top: 0;
		left: 8;

		background: red;
	}
	25% {
		top: 500px;
		left: 500px;

		background: blue;
		width: 100px;
	} 
	50% {
		left: 0;

		background: yellow;
		width: 2px;
	}
	to {
		top: 0;
		left: 0;

		background: pink;
	}
}
:root {
	--space-m: 12px;
	--soace-xm: 20px;
	--spase-l: 24px;
	--spase-b: 32px;


	--size-s: 14px;
	--size-d: 16px;
	--size-l: 20px;

	--color-border: #DEE2E6;
	--color-primary: rgb(48, 48, 255);
	---color-white: #fff;
	--color-title: #212529;
	--color-text: #343A40;

	--border-radius: 12px;
	--weight-title: 500;
	--weight-text: 400;

	--page-width: 960px;
}


/* ============================================================ */
.page {
	background: var(---color-white);
	padding: 0 15px;
	display: flex;
	justify-content: center;
}
.page_content {
	max-width: var(--page-width);
	width: 100%;
	display: flex;
	flex-direction: column;

	gap: 80px;

	padding-top: 74px;
}
/*=============================================================== */

.header {
	padding: var(--spase-l) 0;
	border-bottom: 1px solid var(--color-border);
	display: flex;
	justify-content: space-between;

	position: fixed;
	width: var(--page-width);

	top: 0;
	left: calc(50% - var(--page-width) / 2);
	
	background-color: var(---color-white);
	z-index: 2;
}
 .logo {
	font-size: 17px;
	color: var(---color-white);
	background: var(--color-primary);

	width: 24px;
	height: 24px;
	border-radius:  calc(var(--border-radius) / 2);
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav {
	display: flex;
}
.nav_inline {
	gap: var(--spase-l);
}
.nav_vertical {
	gap: var(--spase-xm);
	flex-direction: column;
}
.nav_link {
	color: var(--color-text);
	font-size: var(--size-d);
	text-decoration: none;
	line-height: 170%;

	transition-property: color;
	transition-duration: 1s;
}
.nav_link:hover {
	text-decoration: underline;
	color: var(--color-primary);
}

.footer {
	padding: var(--spase-l) 0;

	border-top: 1px solid var(--color-border);
	display: flex;
	justify-content: space-between;
}
.footer_copyright {
	color: var(--color-text);
	font-size: var(--size-s);

	display: block;
	margin-top: var(--spase-l);
}
.footer_title {
	color: var(--color-title);
	font-size: var(--size-l);
	
	display: block;
	margin-bottom: var(--spase-l);
	font-weight: var(--weight-title)
}
.hero {
	display: flex;
	align-items: center;
	gap: var(--spase-b);

	padding: var(--spase-b);
	border-bottom: 1px solid var(--color-border);
}
.hero_image {
	width: 500px;
	height: 500px;
	border-radius: var(--border-radius);
}
.hero_content {
	display: flex;
	flex-direction: column;
	gap: var(--spase-l)
}
.hero_title {
	color: var(--color-title);
	font-size: 50px;
	
	font-weight: var(--weight-title);
	line-height: 120%;
	/* letter-spacing: -0.8px; */
}
.hero_text {
	color: var(--color-text);
	font-size: var(--size-l);
	
	font-weight: var(--weight-text);
	line-height: 170%;
}
.blog {
	display: flex;
	gap: var(--spase-b);

	padding: var(--spase-b);
	border-bottom: 1px solid var(--color-border);
}
.card {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	gap: var(--spase-l);
	/* justify-content: center; */
	
}
.card_image {
	height: 140px;
	width: 140px;
	border-radius: 50%;
}
.card_title {
	color: var(--color-title);
	font-size: 32px;
	font-weight: var(--weight-title);
	/* line-height: 100%; */
}
.card_text {
	color: var(--color-text);
	font-size: var(--size-d);
	font-weight: var(--weight-text);
	/* line-height: 150%; */
}
.button {
	display: inline-block;
	padding: var(--space-m) var(--soace-xm);
	font-size: var(--size-d);
	text-decoration: none;
	border-radius: var(--border-radius);

	transition-property: opacity, background-color, color;
	transition-duration: 3s;
	
}
.card_button {
	color: var(---color-white);
	background-color: var(--color-primary);
}
.button:hover {
	opacity: 0.7;
	background-color: yellow;
	color: red;
}
.form {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background: var(--color-primary);
	padding: var(--spase-l);
	border-radius: var(--border-radius);
}
.form_content {
	display: flex;
	flex-direction: column;
	gap: var(--space-m);
}
.form_title {
	font-size: 27px;
	font-weight: var(--weight-title);
	color: var(---color-white);
}
.form_info {
	font-size: var(--size-d);
	font-weight: var(--weight-text);
	color: var(---color-white);
}
.form_button {
	color: var(--color-text);
	background-color: var(---color-white);
	width: 100%;
	max-width: 160px;
}
.hero_image {
	position: relative; 
	/* absolute робить картинку верхнім шаром над документом переміщуєть від рохміру єкрану
	якшо задати батьківскому тегу (hero) position: relative то каринка 
	стає в свій батьківский тег */
	/* left: 10px;
	bottom: 20px; */
}
.hero_slider_icon {
	background: var(--color-primary);
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: var(--border-radius);
	color: var(---color-white);

	position: absolute;
	/* fixit фіксує позицію на єкрані в не залежності від прокруткию (хедер) */
	top: calc(50% - 15px)
}
.hero_slider_icon:hover {
	opacity: 0.5;
	cursor: pointer;
	
}
.hero_slider {
	position: relative;
	
}	
.hero_slider_right {
	right: var(--spase-l);
}
.hero_slider_left {
	left: var(--spase-l);
	z-index: 1;
}
.madal {
	position: fixed;
	top: 100px;
	left: 100px;
	/* height: 100px; */
	width: 300px;
	background: black;
	color: white;
	padding: 24px;
	border-radius: 24px;
	z-index: 3;
	line-height: 100%;

	/* transition-property: top;
	transition-duration: 3s;
	transition-timing-function: cubic-bezier(0.6, 0.04, 0.98, 0.335); */
	/* transition-delay: 3s; */
}
.madal {
	/* top: 600px; */
	animation-name: fly;
	animation-duration: 4s;
	animation-timing-function: cubic-bezier( 0.73, 0.08, 0.9, 0.31 );
	animation-delay: 1s;
	/* animation-iteration-count: infinite; */
	animation-direction: alternate;
	animation-fill-mode: both;
}	
body:hover .madal {
	animation-play-state: paused;
}
.modal_image {
	height: 100px;
	width: 100px;
	float: left;
	margin-top: 12px;
	margin-right: 12px;
	object-fit: scale-down;
	object-position: top right;
}
/* .modal_text {
 clear: left;
} */
.hero {
	user-select: none;
}
.input {
	caret-color: var(--color-primary);
	border: 1px solid var(--color-title);
}
:root {
	scroll-behavior: smooth;
}